@import url(reset.css);

@font-face {
  font-family: vazirNormal;
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff"),
    url("../fonts/vazir.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirBold;
  src: url("../fonts/vazir-bold.eot");
  src: url("../fonts/vazir-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir-bold.woff2") format("woff2"),
    url("../fonts/vazir-bold.woff") format("woff"),
    url("../fonts/vazir-bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
body {
  font-family: vazirNormal;
  direction: rtl;
}

/* Header */

#header {
  height: 500px;
  background: rgba(102, 214, 253, 1);
}
.container {
  width: 1000px;

  margin: 0 auto;
}
#header #header-section {
  display: flex;
}
#header .text {
  align-self: center;
}
#header .image img {
  width: 400px;
  position: relative;
  top: 20px;
}
#header .title {
  font-family: vazirBold;
  font-size: 30px;
  line-height: 35px;
}
#header p.text {
  color: #3b3b3b;
  padding: 15px 0 15px 15px;
  text-align: justify;
  line-height: 23px;
}
#header .btn {
  background-color: rgba(39, 114, 255, 1);
  color: #fff;
  border: none;
  font-family: vazirNormal;
  font-size: 18px;
  padding: 5px 18px;
  border-radius: 5px;
}
#header .btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

/*Products*/

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#products .product-item {
  flex-basis: 225px;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
  border-radius: 5px;
}
#products .product-item .product-image img {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}
#products .product-item .product-title {
  font-family: vazirBold;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  line-height: 20px;
}
#products .product-item .product-instock {
  color: red;
  font-size: 14px;
  padding: 0 10px 10px;
}
#products .product-item .product-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 9px;
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
  font-size: 15px;
}
#products .product-item .product-data .add-to-cart svg:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Cart */
.cart {
  background: #d8d8d8;
  width: 280px;
  height: 360px;
  position: fixed;
  left: 20px;
  bottom: -330px;
  border-radius: 5px 5px 0 0;
}
.cart .cart-header {
  border-radius: 5px 5px 0 0;
  background-color: rgba(39, 114, 255, 1);
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 8px 0;
}
.cart .cart-header:hover {
  cursor: pointer;
}
.cart .cart-items {
  height: 280px;
  overflow-x: auto;
}
.cart .cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
}
.cart .cart-item .p-name {
  padding: 2px;
  border-radius: 3px;
}
.cart .cart-item .p-name:hover {
  cursor: pointer;
  background-color: #fa6060;
}
.cart .cart-item .plus {
  background-color: rgba(39, 114, 255, 1);
  color: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 1px;
}
.cart .cart-item .minus {
  background-color: #ff2b2b;
  color: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 1px;
}
.cart .cart-item .p-unit svg {
  font-size: 12px;
}
.cart .cart-item .p-unit svg:hover {
  cursor: pointer;
}
.cart .total {
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
}

/* Footer */
footer#footer {
  background: #3b3b3b;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-top: 30px;
}
